//  {THEME} UI Variables
//  ------------------
//
//  Table of Contents:
//
//   1. global
//   2. ...

// 1. Global
// -------------

// relative path to images directory
$gp-image-url-path: '../images/';

// input sizes
$input-height-large: 3.5rem;
$input-font-size-large: rem-calc(20);


// 2. ...
// -------------