//  {THEME} UI Variables
//  ------------------
//
//  Table of Contents:
//
//   1. global
//   2. slider
//   3. content

// 1. Global
// -------------

// relative path to images directory
$gp-image-url-path: '../images/';

// input sizes
$input-height-large: 3.5rem;
$input-font-size-large: rem-calc(20);

// colors
$slogan-color: #74797f;
$metafizzy-color: #dde0e4;

// components
$control-link-color: #e6e8eb;


// 2. Slider
// -------------
$slider-padding: 1rem;
$slider-bg-color: map-get($foundation-palette, asphalt);
$slider-frame-color: white;
$slider-frame-padding: 1.85rem 0.5rem 3.25rem;
$slider-frame-width: rem-calc(150) + 1rem;
$slider-frame-width-lg: rem-calc(180) + 1rem;
$slider-frame-width-retina: rem-calc(220) + 1rem;
$slider-shadow-color: $metafizzy-color;


// 3. Content
// -------------
$content-padding-large: 4.5rem 4.5rem 2.5rem;
$content-padding-medium: 4rem 4rem 2rem;
$content-padding-small: 3rem 2rem 1rem;