.flex {
    display: flex;

    &--row {
        flex-direction: row;
    }

    &--column {
        flex-direction: column;
    }

    &__item {
        min-width: 0;
        flex-shrink: 1;
        flex-basis: 0;

        @for $i from 1 through 10 {
            &--grow-#{$i} {
                flex-grow: #{$i};
            }
        }

        &--grow-equal {
            flex-grow: 1;
        }

        &--no-shrink {
            flex-shrink: 0;
        }
    }

    &--align {
        &-middle {
            align-items: center;
        }
    }
}