.slider {
    padding: $slider-padding;
    flex: 1;
    justify-content: center;
    background-color: $slider-bg-color;
    overflow: hidden;
    
    &__frame {
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            bottom: 2%;
            left: 0;
            width: 9999px;
            height: 108%;
            background-color: $slider-shadow-color;
            transform-origin: 0 100%;
            transform: rotate(.44rad) skewY(15deg);
        }
    }

    &__body {
        position: relative;
        padding: $slider-frame-padding;
        border-radius: 0.75rem;
        background-color: $slider-frame-color;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            background-color: transparent;
            box-shadow: inset 0 0 0 2px $slider-bg-color;
        }

        &::before {
            top: 0.75rem;
            width: 2.5rem;
            height: 0.4rem;
            margin-left: -1.25rem;
            border-radius: 1rem;
        }

        &::after {
            bottom: 0.7rem;
            width: 1.85rem;
            height: 1.85rem;
            margin-left: -1rem;
            border-radius: 50%;
        }
    }
}

